@model BITC.CMS.Data.Entity.BlogEntry

@{
    ViewBag.Title = Model.BlogEntryID > 0 ? Model.BlogTitle : "Blog Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <form class="form-horizontal validate-form" method="post">
        @Html.AntiForgeryToken()
        <div class="form-body">
            @Html.EditorFor(m => m, "EntityDetail")
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">@CommonResource.Save</button>
                @Html.ActionLink(CommonResource.Cancel, "Index", "Blog", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </form>
</div>
@section Script{
    <script src='@Url.Content("~/Areas/Admin/assets/plugins/jquery-tags-input/jquery.tagsinput.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Areas/Admin/assets/scripts/blogController.js")' type="text/javascript"></script>
    <script>
        blog.init();
    </script>
}
@section PageStyleSheet{
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Areas/Admin/assets/plugins/jquery-tags-input/jquery.tagsinput.css")' />
}