@model object
@{
    var _type = Model.GetType();
    var _props = _type.GetProperties();
    List<ModelMetadata> _orderList = new List<ModelMetadata>();

    for (int i = 0; i < _props.Count(); i++)
    {
        var _metadata = ModelMetadata.FromStringExpression(_props[i].Name, Html.ViewData);
        
        if (!string.IsNullOrEmpty(_metadata.DisplayName))
        {
            _orderList.Add(_metadata);
        }
    }
}

@foreach (var item in _orderList.OrderBy(i => i.Order))
{
    <div class="form-group">
        @Html.Label(item.PropertyName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
			@if(item.AdditionalValues.ContainsKey("Prefix")){
				<div class="input-group">
					<span class="input-group-addon">@item.AdditionalValues["Prefix"]</span>
					@Html.Editor(item.PropertyName)
				</div>
			}else{
				@Html.Editor(item.PropertyName)
            }
            @if (item.GetValidators(ViewContext.Controller.ControllerContext).Count() > 0)
            {
                @Html.ValidationMessage(item.PropertyName)
            }
        </div>
    </div>
}

