@{
    IRepositoryAsync<BlogTag> _repo = DependencyResolver.Current.GetService<IRepositoryAsync<BlogTag>>();
    IRepositoryAsync<BlogEntry> _entryRepo = DependencyResolver.Current.GetService<IRepositoryAsync<BlogEntry>>();
    var _culture = BITC.Web.Library.CultureHelper.GetCurrentCulture();
    var lstTag = _repo.Query(i => i.Culture == _culture);
    var _entriesCount = _entryRepo.Queryable(i => i.Culture == _culture).Count();
    var _entries = _entryRepo.Query(i => i.Culture == _culture).Include(i => i.BlogTags).Select().OrderByDescending(i => i.ModifiedDate);
}
<!-- BEGIN BREADCRUMBS -->
<div class="row breadcrumbs margin-bottom-40">
    <div class="container">
        <div class="col-md-4 col-sm-4">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-md-8 col-sm-8">
            @ViewHelper.BreadCrumb(ViewBag.BreadCrumb)
        </div>
    </div>
</div>
<!-- END BREADCRUMBS -->
<!-- BEGIN CONTAINER -->
<div class="container min-hight">
    <!-- BEGIN BLOG -->
    <div class="row">
        <!-- BEGIN LEFT SIDEBAR -->
        <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
            @foreach (var _entry in _entries)
            {
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <img src="/Theme/Metronic/assets/img/works/img2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h2><a href="blog_item.html">@_entry.BlogTitle</a></h2>
                        <ul class="blog-info">
                            <li><i class="fa fa-calendar"></i> @_entry.CreatedDate.Value.ToString("dd/MM/yyyy")</li>
                            <li><i class="fa fa-comments"></i> 17</li>
                            <li>
                                <i class="fa fa-tags"></i> @foreach (var _tags in _entry.BlogTags)
                                {
                                    @(_tags.TagName + ", ");
                                }
                            </li>
                        </ul>
                        @Html.Raw(_entry.Body)
                        <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
                    </div>
                </div>
                <hr class="blog-post-sep">
            }

            @if (_entriesCount > 10)
            {
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li><a href='@Url.Action("Index", new { page = 2 })'>Prev</a></li>
                        @for (int i = 0; i < _entriesCount; i++)
                        {
                            <li><a href="#">@(i + 1)</a></li>
                        }
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            }
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- BEGIN RIGHT SIDEBAR -->
        <div class="col-md-3 col-sm-3 blog-sidebar">
            <!-- CATEGORIES END -->
            <!-- BEGIN RECENT NEWS -->
            <h2>Recent News</h2>
            <div class="recent-news margin-bottom-10">
                <div class="row margin-bottom-10">
                    <div class="col-md-3">
                        <img src="assets/img/people/img2-large.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9 recent-news-inner">
                        <h3><a href="#">Letiusto gnissimos</a></h3>
                        <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-3">
                        <img src="assets/img/people/img1-large.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9 recent-news-inner">
                        <h3><a href="#">Deiusto anissimos</a></h3>
                        <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-3">
                        <img src="assets/img/people/img3-large.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9 recent-news-inner">
                        <h3><a href="#">Tesiusto baissimos</a></h3>
                        <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                    </div>
                </div>
            </div>
            <!-- END RECENT NEWS -->
            <!-- BEGIN BLOG TALKS -->
            <div class="blog-talks margin-bottom-30">
                <h2>Popular Talks</h2>
                <div class="tab-style-1">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-1" data-toggle="tab">Multipurpose</a></li>
                        <li><a href="#tab-2" data-toggle="tab">Documented</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane row-fluid fade in active" id="tab-1">
                            <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
                            <p><a href="#" class="read-more">Read more</a></p>
                        </div>
                        <div class="tab-pane fade" id="tab-2">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. aliquip jean shorts ullamco ad vinyl aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END BLOG TALKS -->
            <!-- BEGIN BLOG PHOTOS STREAM -->
            <div class="blog-photo-stream margin-bottom-20">
                <h2>Photos Stream</h2>
                <ul class="list-unstyled">
                    <li><a href="#"><img src="assets/img/people/img5-small.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/works/img1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/people/img4-large.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/works/img6.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/pics/img1-large.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/pics/img2-large.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/works/img3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/people/img2-large.jpg" alt=""></a></li>
                </ul>
            </div>
            <!-- END BLOG PHOTOS STREAM -->
            <!-- BEGIN BLOG TAGS -->
            <div class="blog-tags margin-bottom-20">
                <h2>Tags</h2>
                <ul>
                    @foreach (var item in lstTag.Select())
                    {
                        <li><a href="#"><i class="fa fa-tags"></i>@item.TagName</a></li>
                    }
                </ul>
            </div>
            <!-- END BLOG TAGS -->
        </div>
        <!-- END RIGHT SIDEBAR -->
    </div>
    <!-- END BEGIN BLOG -->
</div>
<!-- END CONTAINER -->