@{
    IBlogTagService _tagService = DependencyResolver.Current.GetService<IBlogTagService>();
    IBlogService _service = DependencyResolver.Current.GetService<IBlogService>();
    IModuleService _moduleService = DependencyResolver.Current.GetService<IModuleService>();
    var _module = _moduleService.FindModuleByName("Blog");
    var _tag = Request.Params["tag"];
    var _culture = BITC.Web.Library.CultureHelper.GetCurrentCulture();
    var lstTag = _tagService.Query(i => i.Culture == _culture);
    int _entriesCount = 0;
    var _page = string.IsNullOrEmpty(Request.Params["page"]) ? 1 : int.Parse(Request.Params["page"]);
    var _currentDate = DateTime.Now;
    var _entries = _service.GetBlogEntriesList(_culture, _tag, _page, 10, out _entriesCount);
    var _detailPage = _module.Settings.FirstOrDefault(i => i.SettingKey == "DETAIL_PAGE").SettingValue;
}
<!-- BEGIN BREADCRUMBS -->
<div class="row breadcrumbs margin-bottom-40">
    <div class="container">
        <div class="col-md-4 col-sm-4">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-md-8 col-sm-8">
            @ViewHelper.BreadCrumb(ViewBag.BreadCrumb)
        </div>
    </div>
</div>
<!-- END BREADCRUMBS -->
<!-- BEGIN CONTAINER -->
<div class="container min-hight">
    <!-- BEGIN BLOG -->
    <div class="row">
        <!-- BEGIN LEFT SIDEBAR -->
        <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
            @foreach (var _entry in _entries)
            {
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2><a href='@(_detailPage + "/" + _entry.BlogTitle.ToSlug() + "-" + _entry.BlogEntryID)'>@_entry.BlogTitle</a></h2>
                        <ul class="blog-info">
                            <li><i class="fa fa-calendar"></i> @_entry.PublishDate.Value.ToString("dd/MM/yyyy")</li>
                            <li><i class="fa fa-comments"></i> @_entry.BlogEntryComments.Count</li>
                            <li>
                                <i class="fa fa-tags"></i> @foreach (var _tags in _entry.BlogTags)
                                {
                                    @(_tags.TagName + ", ");
                                }
                            </li>
                        </ul>
                        @Html.Raw(_entry.Body)
                        <a class="more" href='@(_detailPage + "/" + _entry.BlogTitle.ToSlug() + "-" + _entry.BlogEntryID)'>Read more <i class="icon-angle-right"></i></a>
                    </div>
                </div>
                <hr class="blog-post-sep">
            }

            @if (_entriesCount > 10)
            {
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li><a href='@Url.Action("Index", new { page = 2 })'>Prev</a></li>
                        @for (int i = 0; i < _entriesCount; i++)
                        {
                            <li><a href="#">@(i + 1)</a></li>
                        }
                        <li><a href="#">@Html.Localize("Next")</a></li>
                    </ul>
                </div>
            }
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- BEGIN RIGHT SIDEBAR -->
        <div class="col-md-3 col-sm-3 blog-sidebar">            
            <div class="blog-tags margin-bottom-20">
                <h2>Tags</h2>
                <ul>
                    @foreach (var item in lstTag.Select())
                    {
                        <li><a href='@Url.Action("Index","Page",new {tag = item.Slug})'><i class="fa fa-tags"></i>@item.TagName</a></li>
                    }
                </ul>
            </div>
            <!-- END BLOG TAGS -->
        </div>
        <!-- END RIGHT SIDEBAR -->
    </div>
    <!-- END BEGIN BLOG -->
</div>
<!-- END CONTAINER -->