<div class="modal fade" id="SettingDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@BITC.CMS.Resource.CommonResource.Setting</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="PageSize">@BITC.CMS.Resource.CommonResource.PageSize</label>
                            <div class="col-md-9">
                                @Html.Kendo().IntegerTextBox().Name("PageSize").Min(10).Value(int.Parse(ViewBag.Settings["PAGE_SIZE"]))
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="UploadPath">@BITC.CMS.Resource.PortfolioResource.UploadPath</label>
                            <div class="col-md-9">
                                @(Html.Kendo().AutoComplete()
                                .Name("FolderName")
                                .Filter("startswith")
                                    .BindTo((string[])ViewBag.FolderList)
                                            .Value(ViewBag.Settings["PORTFOLIO_IMAGE_FOLDER"])
                                    .HtmlAttributes(new Dictionary<string, string>
                                        () { { "class", "form-control" } })
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="SaveSetting">@BITC.CMS.Resource.CommonResource.Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    $(document).on("click", "#SaveSetting", function (e) {
        var _settings = [{
            SettingKey: "PAGE_SIZE",
            SettingValue: $("#PageSize").data("kendoNumericTextBox").value()
        }, {
            SettingKey: "PORTFOLIO_IMAGE_FOLDER",
            SettingValue: $("#FolderName").data("kendoAutoComplete").value()
        }];

        $.ajax({
            url: '@Url.Action("Setting")',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(_settings),
            success: function (msg) {
                window.location.reload();
            }
        })
    });
</script>