@using BITC.Web.Library
@using BITC.CMS.Service

@helper ClientView()
{
    <ul class="bxslider1 clients-list">
        <li>
            <a href="http://133.com.vn" target="_blank">
                <img src="/Upload/Client/Z133_gray.png" alt="" />
                <img src="/Upload/Client/Z133.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://azzavietnam.com.vn" target="_blank">
                <img src="/Upload/Client/azza_gray.png" alt="" />
                <img src="/Upload/Client/azza.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://vietphap.vn" target="_blank">
                <img src="/Upload/Client/vietphap_gray.png" alt="" />
                <img src="/Upload/Client/vietphap.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://captreotaythien.vn" target="_blank">
                <img src="/Upload/Client/captreotaythien_gray.png" alt="" />
                <img src="/Upload/Client/captreotaythien.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://marmedia.vn" target="_blank">
                <img src="/Upload/Client/marmedia_gray.png" alt="" />
                <img src="/Upload/Client/marmedia.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://hacid.vn" target="_blank">
                <img src="/Upload/Client/hacid_gray.png" alt="" />
                <img src="/Upload/Client/hacid.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://riostudio" target="_blank">
                <img src="/Upload/Client/rio_gray.png" alt="" />
                <img src="/Upload/Client/rio.png" class="color-img" alt="" />
            </a>
        </li>
    </ul>
}

@helper RecentPortfolio()
{
    IProjectService _service = BITC.Web.Library.Utility.GetService<IProjectService>();
    IModuleService _moduleService = BITC.Web.Library.Utility.GetService<IModuleService>();
    IPageService _pageService = BITC.Web.Library.Utility.GetService<IPageService>();
    var _module = _moduleService.FindModuleByName("Project");
    var _culture = CultureHelper.GetCurrentCulture();
    var lst = _service.FindRecentProject(_culture);
    var _detailPageId = int.Parse(_module.Settings.FirstOrDefault(i => i.SettingKey == "DETAIL_PAGE").SettingValue);
    var _listPageId = int.Parse(_module.Settings.FirstOrDefault(i => i.SettingKey == "LIST_PAGE").SettingValue);
    var _detailPage = _pageService.Find(_detailPageId);
    var _listPage = _pageService.Find(_listPageId);

    <div class="col-md-3">
        <h2><a href="@_listPage.Url"></a></h2>
        <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde voluptatem. Sed unde omnis iste natus error sit voluptatem.</p>
    </div>
    <div class="col-md-9">
        <ul class="bxslider">
            @foreach (var item in lst)
            {
                var arrImg = item.ProjectImages.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                <li>
                    <em>
                        <img src="@arrImg[0]?width=800&mode=crop" alt="" class="img-responsive" />
                        <a href="@(_detailPage != null ? _culture +"/"+ _detailPage.Url + "/" + item.ClientID : "#")"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                        <a href="@arrImg[0]" class="fancybox-button" title="@item.ProjectName" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                    </em>
                    <a class="bxslider-block" href="@(_detailPage != null ? _culture +"/" + _detailPage.Url + "/" + item.ClientID : "#")">
                        <strong>@item.ProjectName</strong>
                        @if (item.ClientID.HasValue)
                        {
                            <b>@item.Client.ClientName</b>
                        }
                    </a>
                </li>
            }
        </ul>

    </div>
}

@helper Menu()
{
    IMenuService _service = BITC.Web.Library.Utility.GetService<IMenuService>();
    var _culture = CultureHelper.GetCurrentCulture();
    var lts = _service.FindMenuInactive(_culture);
    <ul class="nav navbar-nav">
        @foreach (var item in lts)
        {
            <li>
                <a href='@item.Url'>
                    @item.Title
                </a>
            </li>
        }
    </ul>
}