@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    @(Html.Kendo().Grid<BITC.CMS.Data.Entity.BlogTag>()
                    .Name("grdBlogTag")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.TagName);
                        columns.Command(command =>
                        {
                            command.Destroy().Text(@CommonResource.Delete);
                            command.Edit().CancelText(@CommonResource.Cancel).UpdateText(@CommonResource.Update).Text(@CommonResource.Edit);
                        }).Width(200);

                    })
                    .ToolBar(toolbar => toolbar.Create().Text(@CommonResource.AddNew))
                    .Pageable()
                    .Sortable()
                    .DataSource(source => source.Ajax()
                        .Model(model =>
                        {
                            model.Id(p => p.BlogTagID);
                            model.Field(p => p.BlogTagID).Editable(false);
                        })
                        .Sort(sort => sort.Add("TagName"))
                        .Create(create => create.Action("Create", "BlogTag"))
                        .Read(read => read.Action("Read", "BlogTag"))
                        .Update(update => update.Action("Update", "BlogTag"))
                        .Destroy(destroy => destroy.Action("Delete", "BlogTag")))
    )
</div>