@model BITC.CMS.Data.Entity.Page

@{
    ViewBag.Title = Model.PageID > 0 ? Model.PageTitle : "Page Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <form class="form-horizontal validate-form" method="post">
        @Html.AntiForgeryToken()
        <div class="form-body">
            <div class="form-group">
                @Html.LabelFor(m => m.PageTitle, new { @class = "control-label col-md-2" })
                <div class="col-md-10 focus">
                    @Html.EditorFor(m => m.PageTitle)
                    @Html.ValidationMessageFor(m => m.PageTitle)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ParentID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ParentID, (IEnumerable<SelectListItem>)ViewBag.PageList, new { @class = "select2me input-xlarge" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Url, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">http://domain.com/</span>
                        @Html.EditorFor(m => m.Url)
                    </div>
                    @Html.ValidationMessageFor(m => m.Url)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Template, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Template)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Body, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Body)
                    @Html.ValidationMessageFor(m => m.Body)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Keywords, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Keywords)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Description)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SortOrder, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.SortOrder)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Inactive, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Inactive)
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">@CommonResource.Save</button>
                @Html.ActionLink(CommonResource.Cancel, "Index", "Page", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </form>
</div>
@section Script{
    <script src='@Url.Content("~/Areas/Admin/assets/scripts/pageController.js")'></script>
    <script type="text/javascript">
        page.init();
    </script>
}